
/* stripping styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  html, body, .App {
    height: 100%;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    flex-shrink: 0;
  }
  
  /* BASE STYLES */
  
  .wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  /* DogResults styles */
  
  .dogGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .dogCard {
    display: flex;
    flex-direction: row;
    width: calc(30% - 5%);
    min-height: 30vh;
    padding: 2.5%;
    border: 2px solid black;
    margin: 2%;
  }
  .expandedDogCard {
    width: 100%;
  }
  
.mainInfo {
  display: flex;
  flex-direction: column;
}

  button {
    margin: 0 auto;
    padding: 2.5%;
    border: 2px solid black;
    cursor: pointer;
  }