.home {
    margin-top: 25%;
    padding: 2.5%;
    .landingText {
        padding: 2.5%;
        border: 2px solid grey;
        border-radius: 3%;
        display: flex;
        flex-direction: column;
    }
    h2 {
        padding: 5% 0;
    }
    p {
        padding: 5% 0;
    }
    .randomizeButton {
        align-self: center;
        margin-bottom: 5%;
    }
}