@media (min-width: 400px) {
    .home {
        margin-top: 20%;
    }
}

@media (min-width: 600px) {
    .home {
        margin-top: 15%;
    }
    .results .extraInfo {
        display: flex;
        flex-direction: row;
        span {
            width: 50%;
        }
    }
}

@media (min-width: 800px) {
    .home {
        margin-top: 10%;
    }
    .wrapper {
        width: 80%;
    }
    .home .landingText {
        padding: 2.5% 10%;
    }
}